@import './button.css';

.total-list {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background: #ffffff8f;
}

.total-list:not(:last-of-type) {
  margin-bottom: 0.6rem;
}

.total-list::before {
  content: "";
  display: block;
  padding: 1.5rem;
  background: url('../image/person.svg') no-repeat center center;
  background-size: 60%;
}

.total-list p {
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.total-list span {
  min-width: 1.6rem;
  padding: 0 1rem;
}

/* 잘못된 경로 진입시 */
.not-found {
  padding-top: 10vh;
  text-align: center;
}

.not-found a {
  border-bottom: 1px solid #000;
}

.not-found a:hover {
  font-style: italic;
}